@import './sections/global.css';

.header-container{
    color:var(--secondary-color);
}
.back:hover{
    color:var(--secondary-color);
}
main{
    padding:1.5rem 1.5rem;
    max-width: 1280px;
    margin-inline: auto;
}

.project-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap:2rem;
    color:var(--secondary-color);
    font-size: 2rem;
    margin-top:1.5rem;
}
.card{
    max-width: 330px;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 180px;
    height:52px;
    text-transform:uppercase;
    background-color: var( --primary-color);
    color:var(--white);
    margin:0 auto;
    border-radius: 30px;
    transition: all .3s ease-out;
    margin-top:1.5rem;
}
.load-more:hover{
    background-color: var(--grey);
    color: var(--primary-color);
    
}
.loading{
    display: none;
    width:32px;
    height:32px;
    margin:0 auto;
    animation:loader1 3s linear infinite;
}
@keyframes loader1{
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loading span{
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    width:32px;
    height:32px;
    clip:rect(16px,32px,32px,0);
    animation:loader2 1.5s cubic-bezier(0.77,0,0.175,1) infinite;
}
@keyframes loader2{
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loading span::before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    width:32px;
    height:32px;
    border :3px solid transparent;
    border-top:3px solid var(--secondary-color);
    border-radius: 50%;
    animation:loader3 1.5s cubic-bezier(0.77,0,0.175,1) infinite;
}
@keyframes loader3{
    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loading span::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    width:32px;
    height:32px;
    border:3px solid var(--secondary-color);
    border-radius: 50%;
}
.load-more.show-loader{
    width:52px;
    background-color: var(--grey);
    text-indent: -9999px;
}
.load-more.show-loader .loading{
    display: block;
}
.load-more.loaded{
    visibility: hidden;
    opacity: 0;
    height:0;
    transition: visiblity 0.3s 0.3s,opacity 0.3s 0.3s,height 0.3s 0.3s;
}
@media(min-width:840px){
    .project-container{
        justify-content: space-between;
    }
}