.skills{
    padding:10rem 0 2rem;
    max-width: 1280px;
    margin-inline: auto;
}
.skills-contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:0.5rem 1rem 1rem;
    flex-wrap: wrap;
}
.skill{
     width: 110px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 1.5rem;
    font-size: 0.7rem;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 0.5s,transform 0.5s;
    font-weight: 400;
    transform-origin: center;
}
.skill:hover{
    box-shadow: rgba(15,197,176) 0px 3px 6px, rgba(15,197,176) 0px 3px 6px;
    transform: scale(1.1);
}

@media(min-width:600px){
    .skill{
        width: 200px;
        font-size: 1rem;
    }
    
}